/__pycache__/
/cpp/
/testing/
/version1-0/
/version1-1/
/version1-10/
/version1-2/
/version1-3/
/version1-4/
/version1-5/
/version1-6/
/version1-7/
/version1-8/
/version1-9/
/version2-0/
/version2-1/
/version2-2/
/version2-3/
/version2-4/
/version2-5/
eightqueen.iml
